<header id="site-header" class="site-header">
    <nav class="container">

      <a href="#site-content" class="skip-nav-button">Skip Navigation</a>
      <a href="/" class="site-logo glitch">CHAOS <span class="byte-accent">BYTE</span></a>

      <ul class="site-nav">
        <li><a href="/vibes">Vibes</a></li>
        <li><a href="/merch">Merch</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/shows">Shows</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
   </nav>
 </header>