:root {
    /* Allows animation from units to intrisic values like 'auto' */
    interpolate-size: allow-keywords; 

    /* this has to be set to switch between light or dark */
    color-scheme: light dark;

    /* Colors */
    --color-white: hsl(0deg 0% 100%);
    --color-black: hsl(0, 0%, 0%);

    --color-hot-pink: rgb(249, 55, 156);
    --color-yellow: rgb(217, 241, 1);
    --color-blue: rgb(1, 203, 241);
    --color-purple: rgb(122, 39, 226);

    /* Colors Usage */
    --color-primary: var(--color-hot-pink);
    --color-secondary: var(--color-yellow);
    --color-tertiary: var(--color-blue);
    --color-quaternary: var(--color-purple);

    /* Font Family */
    --font-family-heading: "Jersey 25", sans-serif;
    --font-family-body: system-ui, sans-serif;

    /* Type Scale */
    --type-scale-h1: 4.8rem;
    --type-scale-h2: 3.2rem;
    --type-scale-h3: 2.4rem;
    --type-scale-h4: 2.0rem;
    --type-scale-h5: 1.8rem;
    --type-scale-h6: 1.6rem;
    --type-scale-p: 1.6rem;
    --type-scale-small: 1.4rem;
    --type-scale-xsmall: 1.2rem;

    /* Small Screens */
    @media (max-width: 640px){

    }
}



